<% homepage = current_site.sections.find_by_name("primary_menu") %>
<% portfolio = current_site.sections.find_by_name("portfolio") %>
<% team = current_site.sections.find_by_name("team") %>
<% how_we_work = current_site.sections.find_by_name("how_we_work") %>
<% publications = current_site.sections.find_by_name("publications") %>
<% content_for :before_javascript_libraries do %>
  <% if homepage.images.any? %>
    <script type="text/javascript">
      var supersized_slides = [<%= raw homepage.images.map{|c| "{image: '#{c.thumbnail("1400x900#").url()}'}" }.join(",").to_s %>]
    </script>
  <% end %>
<% end %>
<% content_for :header do -%>
<!-- START HEADER -->
<section id="header" class="section intro-section-title section-padding">
  <div id="intro" class="text-center text-container">
    <%= image_tag("logo.png", :id => "logo") %> 
    <div class="share clearfix">
      <ul class="nav clearfix">
        <li><a href="#facebook"><i class="icon-facebook icon-white"></i></a></li>
        <li><a href="#twitter"><i class="icon-twitter icon-white"></i></a></li>
        <li><a href="#linkedin"><i class="icon-linkedin icon-white"></i></a></li>
        <li><a href="#google"><i class="icon-google-plus icon-white"></i></a></li>
      </ul>
    </div>
  </div>
</section>
<!-- END HEADER --> 
<% end -%>
<!-- START LATEST PROJECTS -->
<section class="section-title-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="section-title text-center"><%= t("custom.recent_projects_title") %></h3>
        <p class="section-desc text-center"><%= t("custom.recent_projects_intro") %></p>
        <p class="section-links text-center"><%= link_to(t("custom.view_all"), "#portfolio-section", :class => "btn-bordered btn-bordered-default anchor-link") %></p> 
      </div>
    </div>  
  </div>
</section>
<section id="section-lastest-projects">
  <div class="row full-width lastest-projects-container">
  <% current_site.projects.latest(4).each do |project| %>                           
    <article class="col-xs-6 col-sm-6 col-md-3 post-item portfolio-post-item">
      <%= link_to(project.public_url, :data => { :remote => true }) do %>
        <div class="post-image">
          <%= image_tag(project.thumbnail.thumbnail("510x350#").url(), :alt => project.thumbnail.title, :class => "grayscale" ) if project.thumbnail %>
        </div>
        <div class="post-caption">
          <h2 class="post-title"><%= project.title %></h2>
        </div>
      <% end %>
    </article> 
  <% end %>
  </div>                    
</section>
<!-- END LATEST PROJECTS --> 

<% if portfolio %> 
<!-- START PORTFOLIO -->
<div id="portfolio-section" class="portfolio-section"> 
<section class="section-title-container"> 
  <div class="container">
    <div class="row">
  	  <div class="col-xs-12">
  	    <h3 class="section-title text-center"><%= portfolio.title %></h3>
  	    <p class="text-center"><%= raw(portfolio.body) %></p>
      </div>
    </div>
  </div>
</section> 
<section id="section-archived-projects">
  <div class="row">
    <%= render current_site.projects.live.order("position").limit(24) %>
  </div>                  
</section>
</div>
<!-- END PORTFOLIO -->
<% end -%>
<% if team -%> 
<!-- START TEAM -->
<section class="section-title-container text-center">
  <div class="container">   
    <div class="row"> 
      <div class="col-xs-12">
        <h3 class="section-title"><%= team.title %></h3>
        <% if subtitle = get_text_element(team,'subtitle') %>
          <p class="text-center"><%= raw subtitle %></p>
        <% end %> 
        <p class="section-links">
          <%= link_to(t("custom.view_team"), team.public_url, :class => "btn-bordered btn-bordered-default modal-link") %>
          <%= link_to(t("custom.view_how_we_work"), how_we_work.public_url, :class => "btn-bordered btn-bordered-default modal-link") %> 
        </p> 
      </div>
    </div>
  </div>
</section> 
<section id="team-section">
  <div class="container">
    <div class="row">
      <% team.children.each do |member| %>  
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= link_to(team.public_url, :class => "modal-link") do %>
        <%= image_tag(member.thumbnail.thumbnail("450x325#").url(), 
          :alt => member.thumbnail.title,
          :class => 'img-responsive grayscale' ) if member.thumbnail %>
        <h4 class="no-margin-bottom"><%= member.title %></h4>
        <p><em><small><%= get_text_element(member,'fonction') %></small></em></p> 
        <% end -%>
      </div>
      <% end -%>
    </div> 
  </div> 
</section>
<!-- END TEAM --> 
<% end %>  
<!-- START PUBLICATIONS -->
<section class="section-title-container text-center">
  <div class="container">   
    <div class="row"> 
      <div class="col-xs-12">
        <h3 class="section-title"><%= publications.title %></h3>
        <% if subtitle = get_text_element(publications,'subtitle') %>
          <p class="text-center"><%= raw subtitle %></p>
        <% end %> 
        <p class="section-links">
          <%= link_to(t("custom.view_publications"), publications.public_url, :class => "btn-bordered btn-bordered-default modal-link") %>
        </p> 
      </div>
    </div>
  </div>
</section>
<!-- END PUBLICATIONS -->

