<% resource_cache(resource) do %>
<article class='portfolio-post-single'>
  <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <% resource.images.each do |img| %>
        <%= image_tag(img.thumbnail("800x").url(), 
          :alt => img.title,
          :class => 'img-responsive' ) %>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="page-header">
        <%= render_page_title(resource.title) %>
        <p class="year"><%= raw resource.preferred_release_date %></p>
      </div>
      <%= render_copy_text(resource.body) %>
      <p><%= link_to(t("custom.visit_website"), resource.website, 
          :target => "_blank", :class => "visit_website") unless resource.website.blank? %></p>
      <div class="share clearfix">
        <ul class="nav nav-share-links">
          <li><small><%= raw(t("custom.share") + ":&nbsp;&nbsp;") %></small></li>
          <li><a href="http://facebook.com/sharer.php?t=<%= URI.encode(resource.title) %>&u=<%= URI.encode(request.original_url) %>" target="_blank"><i class="fa fa-facebook icon-white"></i></a>
          <li><a href="http://twitter.com/intent/tweet?&text=<%= URI.encode(resource.title + " " + request.original_url) %>" target="_blank"><i class="fa fa-twitter icon-white"></i></a></li>
          <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=<%= URI.encode(request.original_url) %>&title=<%= URI.encode(resource.title) %>" target="_blank"><i class="fa fa-linkedin icon-white"></i></a></li>
          <li><a href="https://plus.google.com/share?url=<%= URI.encode(request.original_url) %>&t=<%= URI.encode(resource.title) %>" target="_blank"><i class="fa fa-google-plus icon-white"></i></a></li>
        </ul>
      </div>          
          
    </div>   
  </div>
  </div>
</article>
<% end %>   