<%# resource_cache(resource) do %>
<article class='portfolio-post-single'>
  <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <% resource.images.each do |img| %>
        <%= image_tag(img.thumbnail.black_and_white("800x").url(), 
          :alt => img.title,
          :class => 'img-responsive' ) %>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="page-header">
        <%= render_page_title(resource.title) %>
        <p class="year"><%= resource.preferred_release_date %></p>
      </div>
      <%= render_copy_text(resource.body) %>
      <p><%= link_to(t("custom.visit_website"), resource.website, 
          :target => "_blank", :class => "visit_website") unless resource.website.blank? %></p>
    </div>   
  </div>
  </div>
</article>

<%# end %>