<!DOCTYPE html>
<html class="no-js">
<%= render 'head' %>
<body class="home">
  <div id="page-wrapper">
    <%= yield :header if content_for?(:header) %>
    <%= render 'navbar' %>
    <%= yield %>
    <%= render 'footer' %>
  </div>
  <div id="project-page">
    <!-- START PROJECT-TOP-BAR -->
    <div id="project-top-bar">
      <div class="row">
        <div class="col-xs-2">
          <a id="previous-project" href="#" class="top-bar-btn pull-left"> 
            <%= image_tag("cur_prev.gif", :class => "pull-left") %>
            <span id="previous-project-name" class="pull-right hidden-xs">Title 2</span>
          </a>
        </div>
        <div class="col-xs-8 text-center">
          <a id="close-project" href="#" class="top-bar-btn">
          <%= image_tag("cursor_close.gif") %>
          </a>
        </div>
        <div class="col-xs-2">
          <a id="next-project" href="#" class="top-bar-btn pull-right">
            <span id="next-project-name" class="pull-left hidden-xs">Title 4</span>
            <%= image_tag("cur_next.gif", :class => "pull-right") %>
          </a>
        </div>
      </div>
    </div>	
    <!-- END PROJECT-TOP-BAR -->
    <!-- START PROJECT -->
    <div id="project-content"></div>
    <!-- END PROJECT -->
  </div>
   
  <script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js' ></script>
  <script src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js'></script>
  <%= render 'javascripts' %> 
</body>  
</html>